@charset "UTF-8";


body { /* Body */
    background-color: #1a1a2e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1{ /* Título */
    color: #e94560;
    text-align: center;
    margin-bottom: 30px;
}

div#card-central{ /* Região onde fica todo o quiz */
    background:#16213e ;
    border-radius: 5px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.126);
}

div#np-pontuacao{ /* Região onde fica os numeros de perguntas exibidas e os acertos*/
    font-size: 12px;
    color:rgba(255,255,255,0.6) ;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

p#txtpergunta{ /* Região onde se localiza as perguntas */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}


button { /* Botões das alternativas e do "Jogar novamente" */
    background: #0f3460;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

button:hover{ /* Quando o usuario passa o mouse em cima das alternativas, altera a cor */
    background: #e94560;
}

div#resfinal{ /* Região onde mostra o resultado final */
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e94560;
    display: none;
}